.html{
  scroll-behavior: smooth;
}


.name{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.header{
    background-image: linear-gradient(to right, #9889f2, #d8d5f4);
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.section{
    font-family: 'Courier New', Courier, monospace;
}

.hr-section{
    height: 3px;
    background-color: #6a50fa;
}

.bold{
    font-weight: bold;
}
.typing-effect {
    width: fit-content;
    
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(22), blink 0.5s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 12ch }
  }

  @keyframes blink {
    50% { border-color: transparent }
  }

  .timeline {
    position: relative;
    padding: 2rem 0;
    list-style: none;
  }

  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: #d8d5f4;
  }

  .timeline-item {
    position: relative;
    margin: 2rem 0;
    width: 50%;
    padding: 1rem;
  }

  .timeline-item-left {
    left: 0;
    text-align: right;
  }

  .timeline-item-right {
    left: 50%;
    text-align: left;
  }

  .timeline-badge {
    position: absolute;
    top: 1.2rem;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #6a50fa;
    border-radius: 50%;
    transform: translateX(-50%);
  }

.footer{
  font-family: 'Courier New', Courier, monospace;
  background-color: #d8d5f4;
}

.footer-name{
  font-weight: bold;
}

.socials{
  width: 2rem;
}

.hr-footer{
  height: 1px;
  background-color: #000000;
}

.cnt{
  text-decoration: none;
  color: black; 
}

.contact{
  color: black; 
  text-decoration: none;
}

.form{
  border: 2px solid #c7c5cf;
  border-radius: 25px;
}

.project{
  border: 1px solid rgb(183, 183, 183);
}

.bttn{
  border: 2px solid;
  border-color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  color: #000000;
}